[Unit]
Description=TP25 Probe Reader
After=network.target

[Service]
ExecStart=/home/pi/smoke-db/venv/bin/python probe_reader.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target